body {
  /*background-color: #e0e0e0;*/
}


.markdownOutput {
  word-wrap: break-word;
}

#h1 {
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
  font-weight: 600;
  line-height: 1.25;
}

#h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
  font-weight: 600;
  line-height: 1.25;
}

#h3 {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.25;
}

#h4 {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.25;
}

#h5 {
  font-size: .875em;
  font-weight: 600;
  line-height: 1.25;
}

#h6 {
  font-size: .85em;
  font-weight: 600;
  line-height: 1.25;
  color: #6a737d;
}

.box {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 10px 10px 0 10px;
}
